.popup__button {
  border: 0 transparent;
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
